@media (min-width:950px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        padding-bottom: 0%;
    }
    .wrapper{
        display:flex;
        width:100%;
        border-radius: 0 1rem 1rem 0;
    }

    .img{
        border-radius: 0 1rem 1rem 0;
    }
    .text-content{
        width: 100%;
    }

    h3{
        text-align: start;
    }
    p{
        margin-bottom: 4rem;
       
    }
    .stats{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }


    .attribution{
        display: none;
    }
}