*, *::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  max-width: 90rem;
  height: 65rem;
  margin: 0 auto;
  padding: 5rem;
  background-color: hsl(185deg, 75%, 39%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  max-width: 30rem;
  height: 35rem;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 1rem;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.img .image {
  border-radius: 50rem;
  border: 0.6rem solid #fff;
}

.info {
  margin-top: -5rem;
}

.name-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  line-height: 2rem;
}
.name-place p {
  color: hsl(227deg, 10%, 46%);
}

span {
  margin-left: 1rem;
  color: hsl(227deg, 10%, 46%);
  font-weight: 200;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid hsl(0deg, 0%, 59%);
  padding: 1rem;
  line-height: 1.7rem;
}
.stats h3 {
  font-size: 1.2rem;
}
.stats p {
  color: hsl(227deg, 10%, 46%);
}
