*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225deg, 100%, 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
  height: 40rem;
}

.wrapper {
  border-radius: 1rem;
  background-color: hsl(225deg, 100%, 98%);
  text-align: center;
}
.wrapper h1 {
  font-weight: 900;
  color: hsl(223deg, 47%, 23%);
}
.wrapper p {
  padding: 1rem 5rem;
  line-height: 1.5rem;
  color: hsl(224deg, 23%, 55%);
}
.wrapper .plan {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  background-color: hsl(225deg, 100%, 94%);
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}
.wrapper .plan .plan-1 {
  margin-left: -3rem;
}
.wrapper .plan .duration {
  color: hsl(223deg, 47%, 23%);
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 0.4rem;
}
.wrapper .plan .price {
  color: hsl(224deg, 23%, 55%);
  font-size: 1.3rem;
  font-weight: 500;
  opacity: 0.5rem;
}
.wrapper .plan a {
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(245deg, 75%, 52%);
}

.img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 2rem;
}

button {
  display: block;
  margin-left: 4rem;
  background-color: hsl(245deg, 75%, 52%);
  border-radius: 1rem;
  color: hsl(225deg, 100%, 98%);
  padding: 1rem;
  border-color: transparent;
  width: 65%;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 10px 10px 20px hsla(245deg, 75%, 52%, 0.15), 15px 15px 30px hsla(245deg, 75%, 52%, 0.15);
}
button:hover {
  opacity: 0.7;
}

.cancel {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: hsl(224deg, 23%, 55%);
}
.cancel:hover {
  color: hsl(223deg, 47%, 23%);
}
